body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 페이지 전체 높이 확보 및 푸터 영역 여백 확보 */
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-bottom: 90px; /* 푸터 높이만큼 여백을 확보 */
}
input, textarea, select {
  font-size: 16px; /* ✅ iOS 확대 방지용 */
}

html, body {
  touch-action: manipulation; /* ✅ 터치 동작 안정화 */
  overscroll-behavior: none;  /* ✅ 터치스크롤 과잉 동작 제거 */
}
